.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer>.container {
    padding-right: 30px;
    padding-left: 30px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-content p {
    margin: 0;
}

p {
    margin-top: auto;
    margin-bottom: 3rem;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}

/*General */
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Serifa moderna, sans-serif !important;
    background-image: url('Imagenes/edificio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#eeeeee;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #1d1d1d !important;
    padding: 0px !important;
}
.bg-dark {
    background-color: #1d1d1d  !important;
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente para mejorar la legibilidad del texto */
    color: #fff;
}

.hero h2 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 50px;
}

/*
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}
*/
footer {
    background-color: #1d1d1d !important;
    /* Fondo semi-transparente para mejorar la legibilidad del texto */
    padding: 20px 0;
   
}

.text-muted {
    color: #fff !important;

}




/* FONDO DE PANTALLA - ESTILOS PROPIOS */
.contenedor-fondo {
    max-width: unset;
    padding: 0;
}

.info-principal.hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-principal {
    max-width: 732px;
    text-align: center;
}

/* Tarjetas */
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.cuerpo {
    padding: 10px;
    flex: 1 1 100%;
}

.pie {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

/* Estilos adicionales para el gráfico */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; /* Ajusta esta altura según tus necesidades */
    margin-left: 25px; /* Añadir margen izquierdo */
}

#myChart {
    width: 100%; /* Reduce el tamaño del gráfico */
    height: 100%; /* Reduce el tamaño del gráfico */
}
.contenedor-principal {
    display: flex;
    justify-content: space-between;
    margin: 0 25px; /* Añadir márgenes a los lados */
}


/* Estilo de nueva Compra*/
.compras-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body > main > div > div > h1{
    text-align: center;
}


.compras-form .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.compras-form .col-md-4 {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.compras-form .col-md-12 {
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.compras-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.compras-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.compras-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.compras-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.compras-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.gastos-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > main > div > div > h1 {
    text-align: center;
}

/* Estilo de nueva Gastos*/

.gastos-form .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.gastos-form .col-md-4,
.gastos-form .col-md-6,
.gastos-form .col-md-12 {
    padding: 0 10px;
    box-sizing: border-box;
}

.gastos-form .col-md-4 {
    flex: 1 1 33.33%;
}

.gastos-form .col-md-6 {
    flex: 1 1 50%;
}

.gastos-form .col-md-12 {
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.gastos-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.gastos-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.gastos-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.gastos-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.gastos-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo de nueva Ventas*/

.ventas-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > main > div > div > h1 {
    text-align: center;
}

.ventas-form .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.ventas-form .col-md-4,
.ventas-form .col-md-6,
.ventas-form .col-md-12 {
    padding: 0 10px;
    box-sizing: border-box;
}

.ventas-form .col-md-4 {
    flex: 1 1 33.33%;
}

.ventas-form .col-md-6 {
    flex: 1 1 50%;
}

.ventas-form .col-md-12 {
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.ventas-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.ventas-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ventas-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.ventas-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.ventas-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo de nueva Ingresos*/
.ingresos-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body > main > div > div > h1 {
    text-align: center;
}

.ingresos-form .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.ingresos-form .col-md-4,
.ingresos-form .col-md-6,
.ingresos-form .col-md-12 {
    padding: 0 10px;
    box-sizing: border-box;
}

.ingresos-form .col-md-4 {
    flex: 1 1 33.33%;
}

.ingresos-form .col-md-6 {
    flex: 1 1 50%;
}

.ingresos-form .col-md-12 {
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.ingresos-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.ingresos-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.ingresos-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.ingresos-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.ingresos-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo de nueva objetivosfinancieros*/
.objetivosfinancieros-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Añadido para espacio superior */
}

.objetivosfinancieros-form .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-bottom: 15px;
}

.objetivosfinancieros-form .col-md-6 {
    flex: 1 1 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.objetivosfinancieros-form .col-md-12 {
    flex: 1 1 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.objetivosfinancieros-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.objetivosfinancieros-form input[type="text"],
.objetivosfinancieros-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.objetivosfinancieros-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.objetivosfinancieros-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.objetivosfinancieros-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo de nueva Precios*/
.precios-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* Añadido para espacio superior */
}

.precios-form .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin-bottom: 15px;
}

.precios-form .col-md-6 {
    flex: 1 1 50%;
    padding: 0 10px;
    box-sizing: border-box;
}

.precios-form .col-md-12 {
    flex: 1 1 100%;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.precios-form .form-group {
    text-align: center;
    margin-top: 20px;
}

.precios-form input[type="text"],
.precios-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.precios-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
}

.precios-form .btn.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.precios-form .btn.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* Estilo para el contenedor de los botones */
.button-container {
    display: flex; /* Utiliza flexbox para alinear los botones en una fila */
    flex-wrap: wrap; /* Permite que los botones se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: space-between; /* Distribuye los botones de manera uniforme a lo largo del contenedor */
    margin: 20px; /* Margen con respecto al borde de la página */
}

/* Estilo para los botones */
.btn-half-width {
    flex: 1; /* Los botones se expanden para ocupar todo el espacio disponible */
    width: calc(50% - 20px); /* Ancho del 50% del contenedor menos el margen */
    margin: 0 5px; /* Margen entre los botones */
    font-size: 14px; /* Tamaño de fuente más pequeño */
}
        /* .card:hover:before {
        background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
        animation: rotBGimg 3.5s linear infinite;
        } */

/* Tarjeta saldo*/
        
        .flex__1-custom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flex__2-custom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.card-custom {
  height: 50mm;
  width: 84mm;
  position: relative;
  perspective: 800px;
}

.card__side-custom {
  width: 100%;
  height: 100%;
  border-radius: 3.18mm;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: transform 0.7s ease-out;
  cursor: pointer;
  padding: 10px;
}

.card__side__photo-custom {
  width: 1.4cm;
  height: 1.4cm;
  position: absolute;
  left: 12px;
  bottom: 15px;
  background: grey;
  border-radius: 8%;
}

.card__side_front-custom {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #242424 100%);
  transform: rotateY(0deg);
}

.card__side_back-custom {
  background: linear-gradient(-90deg, rgb(0, 0, 0) 0%, #242424 100%);
  transform: rotateY(-180deg);
  color: #eeeeee;
}

.card__side__name-bank-custom {
  font-family: Inter, sans-serif;
  font-weight: 500;
  position: relative;
  font-size: 22px;
  margin-left: 8px;
  color: white;
}

.card__side__name-bank-custom::after {
  content: "Universal Bank";
  position: absolute;
  font-size: 6px;
  top: 105%;
  left: 21%;
  color: #635c77;
}

.card__side__name-bank-custom::before {
  content: "₴";
  position: absolute;
  top: 0;
  right: 0;
  color: #635c77;
}

.card__side__chip-custom {
  width: 1.3cm;
  height: 1cm;
  margin-left: 22px;
  margin-top: -35px;
  background: rgb(226, 175, 35);
  border-radius: 8px;
}

.card__side__chip-custom:after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 80px;
  right: 15px;
  transform: scale(1.3);
}

.card__side__name-person-custom {
  text-transform: uppercase;
  font-family: Roboto Mono, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
  display: block;
  color: white;
}

.card__side__name-person-custom::before {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  aspect-ratio: 1 / 1;
  background: red;
  bottom: -10px;
  right: 0px;
  border-radius: 50%;
}

.card__side__name-person-custom::after {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  aspect-ratio: 1 / 1;
  background: orange;
  bottom: -10px;
  right: 23px;
  border-radius: 50%;
}

.card__side__black-custom {
  background: black;
  width: 100%;
  height: 50px;
  border-radius: 3.18mm 3.18mm 0 0;
  position: absolute;
  top: 0;
  right: 0;
}

.card__side__number-custom {
  font-size: 18px;
  font-family: Roboto Mono, sans-serif;
  color: #eeeeee;
  margin: 45px 0px 15px 10px;
}

.card__side__other-numbers-custom {
  font-family: Roboto Mono, sans-serif;
  color: #eeeeee;
  display: block;
  margin-left: 10px;
  font-size: 12px;
  backface-visibility: hidden;
  position: relative;
}

.card__side__other-numbers-custom::after {
  color: #635c77;
  position: absolute;
  font-size: 8px;
  left: 0;
  bottom: 60px;
}

.card__side__other-numbers_1-custom::after {
  content: "СТРОК";
}

.card__side__other-numbers_2-custom::after {
  content: "КОД";
}

.card__side__other-info-custom {
  color: #635c77;
  font-size: 4px;
  text-align: center;
  font-family: Roboto Mono, sans-serif;
  position: absolute;
  bottom: 10px;
  left: 38px;
  backface-visibility: hidden;
}

.card__side__debit-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8cm;
  height: 1cm;
  border-radius: 1cm;
  background: #c0c0c0;
  position: absolute;
  right: 12px;
  bottom: 25px;
  font-family: Inter;
  color: #666666;
}

.card__side__debit-custom::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(166, 163, 163, 0.7);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 0;
}

.card-custom:hover .card__side_front-custom {
  transform: rotateY(180deg);
}

.card-custom:hover .card__side_back-custom {
  transform: rotateY(0deg);
}
/* Estilos para las tarjetas de objetivos */
.tarjetaobjetivos .card {
    width: 250px; /* Ancho de la tarjeta */
    height: 300px; /* Altura de la tarjeta */
    margin-bottom: 20px; /* Espaciado entre las tarjetas */
    position: relative; /* Para posicionar los botones dentro de la tarjeta */
    text-align: center; /* Centrar el texto dentro de la tarjeta */
}

/* Estilos para el botón de nuevo objetivo */
.tarjetaobjetivos .btn-success {
    margin-bottom: 20px; /* Espaciado entre el botón y las tarjetas */
}

/* Estilos para el contenedor de objetivos */
.tarjetaobjetivos #objetivos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las tarjetas equitativamente */
}

/* Estilos para las tarjetas de objetivos individuales */
.tarjetaobjetivos .col-md-4 {
    flex: 0 0 calc(25% - 15px); /* Establece el ancho de cada tarjeta y el margen derecho */
    margin-bottom: 20px; /* Espaciado entre las filas */
}

/* Estilos para los botones de actualizar y borrar */
.tarjetaobjetivos .button-group {
    position: absolute; /* Posiciona los botones dentro de la tarjeta */
    bottom: 10px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde el lado derecho */
}

/* Estilos para el texto dentro de la tarjeta */
.tarjetaobjetivos .card-body {
    text-align: justify; /* Justificar el texto dentro de la tarjeta */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos específicos para el precio dentro de la tarjeta */
.tarjetaobjetivos .card-body p {
    text-align: left; /* Alinear el texto a la izquierda */
    margin: 0; /* Eliminar márgenes para una mejor alineación */
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
    padding: 20px;
}